@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";

*{
  font-family: "Outfit", sans-serif;
}

@theme {
  --color-primary: green;
  --color-primary-dull: green;
}

.no-scrollbar::-webkit-scrollbar{
  display: none;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color:#e6f0db ; /* Tailwind green-500 */
}
